<body>
	<p style="text-align: center; font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;">  

		<!-- Thank you message -->
		<span style="font-size: 30px; color:#808080;">
			Thanks! We'll take care of the rest. <br/>
			Look out for a meeting invite shortly. 
		</span>

		<!-- Done footer -->
		<br/><br/> <br/> <br/>
		<span style="font-size:20px; color:#808080;">
			Need to schedule a meeting? Coordinate times? Lots of people? <br/>
			One click. Done. <br/>
		</span>
		<a style="font-size:20px;" href="/">Coordinate a meeting now.</a>
	</p>
</body>

